GRPC_PORT=50051


SLIDEV_PUBLIC_BASE_URL=https://markos-slides.top
SLIDEV_PREVIEW_SITE_BASE_URL=https://preview.yanfd.com
SLIDEV_BODY_LIMIT=20mb
SLIDEV_SESSION_TTL_MS=900000
SLIDEV_ARTIFACT_TTL_MS=3600000
# 账号 A 的 VPC 内网互通资源
DB_HOST=10.128.0.3

# R2 存储配置
R2_PUBLIC_ACCOUNT_ID=8c98ecefdf121538ea9b805de04445ab
R2_PUBLIC_ACCESS_KEY=679bf7ca495881be51b1a0f0624dcdf6
R2_PUBLIC_SECRET_KEY=d3f12ab3fecc4bc2325b44e52126ce7784f07ad15408871bead5ea4f3912c197
R2_PUBLIC_BUCKET=paperpuppy
R2_PUBLIC_DOMAIN=https://assets.yanfd.com
R2_PRIVATE_PATH_PREFIX=previews